.login_container {
  height: 100%;
  background-color: #90ee90;
}

.login_title {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #21b97a;
  color: #fff;
  font-size: 24px;
}

.login_form {
  margin: 20px 10px;;
}

.messageBox {
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}